@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --dark-bg: #36393f;
    --dark-server-list: #202225;
    --server-divider: #2d2f32;
    --dark-blurple: #4d5e94;
    --green: #43b581;
    --dark-primary: #2f3136;
    --text-gray: #dcddde;
    --user-box: #292B2F;
    --iconColor: #b9bbbe;

}
.column-container {
    grid-column-start: 44;
    grid-column-end: 41;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: #232529;
    scrollbar-width: 0px;
  }
body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-bg);
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.rootDiv {
    display: grid;

    grid-template-columns: 0px 70px 300px;
    grid-template-rows: auto;
}

.servers {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: row1-start;
    grid-row-end: 3;
    position: absolute;
    width: 70px;
    height: 100%;
    background-color: #232529;
    overflow-y: auto;
    scrollbar-width: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
    transition: width 0.3s ease;
    
}

.servers.expanded {
    width: 200px;
}
.servers::-webkit-scrollbar, .nav::-webkit-scrollbar {
    width: 0px;
}

.homebutton {
    position: relative;
    background-color: var(--dark-bg);
    color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.2s;
}


.server {
    position: relative;
    background-color: var(--dark-bg);
    color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    height: 40.5px;
    width: 40.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    cursor: pointer;
    transition: 0.2s;
}


.server img {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    text-align: center;
    transition: 0.2s;
    user-select: none;
}

.invite {
    color: var(--green) !important;
    font-size: 48px;
}

.invite:hover {
    color: #FFFFFF !important;
    background-color: var(--green) !important;
}

.server-active, .server:hover {
    background-color: var(--blurple);
    border-radius: 30%;
    transition: 0.3s;
}

.server img:hover {
    border-radius: 30%;
    transition: 0.3s;
}

.homebutton:hover {
    background-color: var(--blurple);
    border-radius: 30%;
    transition: 0.3s;
}


.server-divider {
    margin-top: 7px;
    width: 50%;
    background-color: var(--server-divider);
    height: 3px;
    border: none;
    border-radius: 15px;
}

.userBox {
    position: absolute;
    bottom: 0;
    background-color: #232529;
    width: 100%;
    height: 53px;
    margin-bottom: 0;
    display: flex;
}

.userAvatar {
    position: absolute;
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.userAvatar:hover {
    background-color: #000000;
    opacity: 0.8;
}


.userinfo {
    margin-left: 55px;
    margin-top: 10px;
    cursor: pointer;
}

.username {
    display: block !important;
    margin: 0;
    font-weight: bolder;
}

.discriminator {
    display: block !important;
    margin: 0;
    font-weight: lighter;
    color: var(--text-gray);
}
.serverName{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 605px;
    margin-inline-end: 0px;
    display: flex;
    flex: auto;
    align-content: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.navs {
    position: absolute;
    top: 0;
    background-color: #020307;
    width: 100%;
    height: 53px;
    margin-top: 0;
    display: flex;
}
.chat-container {
    position: relative;
    box-sizing: border-box;
    bottom: 0%;
    padding: 100px 100px;
    height: 658px;
    width: 1255px;
    border: 1px solid #232529;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.chat-messages {
    bottom: 0;
    top: 200px;
  height: 530px;
  padding: 10px;
}

.chat-input {
    left: 30px;
    position: relative;
  display: flex;
  bottom: 45px;
}

.chat-input input[type="text"] {
    color: #202225;
    display: flex;
    align-items: end;
    flex-direction: row;
  flex-grow: 1;
  padding: 5px;
  border: 4px solid #202225;
  border-radius: 21px;
}

.chat-input button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #080808;
  color: white;
  border: none;
  border-radius: 17px;
  cursor: pointer;
}
.backchat {
    position: absolute;
    top: 0;
    background-color: #232529;
    width: 90%;
    height: 53px;
    margin-top: 0;
    display: flex;
}

  
  